#composeWindow.compose-window
	span#ikon-close-compose.compose-window__ikon
	h2.compose-window__title Состав подарка
	p.compose-window__text
		| Все наши подарки наполнены самыми
		br
		| вкусными конфетами кондитерской фабрики «Акконд»
		br
		br
		| Если Вы хотите узнать точный состав,
		br
		| обращайтесь на почту: newyeargifts@gmail.com
		br
		| или по номеру: +7 (981) 915-01-66
#popupBgCompose.buy-window__bg