#buyWindow.buy-window
	span#ikon-close.buy-window__ikon
	h2.buy-window__title Как купить подарок
	p.buy-window__text
		| Уважаемые посетители, приобрести данный подарок
		br
		| Вы можете в нашем оффлайн-магазине по адресу:
		br
		| ТЦ «Южный Полюс», пр-кт Славы 58, 1-ый этаж
		br
		br
		| все интересующие вопросы задавать по номеру:
		br
		| +7 (981) 915-01-66
#popupBg.buy-window__bg