extends template.pug

block title
	title Новогодние игрушки - Каталог

block banner
	div.container
		div.banner-catalog--bg
		div.banner-catalog
			h2.banner-catalog__title ВЫБЕРИ СВОЮ
				br 
				| УНИКАЛЬНУЮ ИГРУШКУ

block content
	div.container
		div.categories--bg
		div.categories
			include includes/mixin-catalog.pug
			include includes/popup-buy.pug
			include includes/popup-compose.pug
			+catalog-item('santa', 'Санта', 'игрушка-конфетница', '1000 гр', '33 см', '1 450 руб')
			+catalog-item('klaksa', 'Клякса', 'игрушка-конфетница', '900 гр', '28 см', '1 150 руб')
			+catalog-item('monmoransi', 'Монморанси', 'игрушка-конфетница', '900 гр', '30 см', '1 350 руб')
			+catalog-item('egoza', 'Егоза', 'игрушка-конфетница', '1100 гр', '27 см', '1 200 руб')